@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@400;700&display=swap');
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css);

* {
    box-sizing: border-box
}

img {
    width: 100%;
    display: block;
    height: auto;
}

html{
    scroll-behavior: smooth;
}

:root {
    --mainFont: 'Montserrat', sans-serif;
    --secondaryFont: 'Handlee', cursive;
    
    --fontSize: 1em;

    --mainColor: #fa573a;
    --secondaryColor: #21242e;
    
    --maxWidth: 1100px;
    --marginGrid: 1em;
}

body {
    font-family: var(--mainFont);
    font-size: var(--fontSize);
}

.container {
    max-width: var(--maxWidth);
    margin: 0 auto;
}

/* Inicio header */

header .nav_top {
    background-color: var(--secondaryColor);
    padding: var(--marginGrid);
}

header .nav_top .container {
    /* Both of them do the same */
    display: flex;
    justify-content: space-around;
    /*display: inline-block;*/
}

header .nav_top a {
    text-decoration: none;
}

header .nav_top a span{
    color: white;
    display: none;
}

header .nav_top a i {
    font-size: calc(var(--fontSize)*1.4);
    color: var(--mainColor);
}

/*768px*/
@media (min-width: 48em) {  
    header .nav_top a span {
        display: inline;
    }  

    header .nav_top .container {
        justify-content: space-between;
    }
}
/* final header*/