

/* TITLES WITH SPAN & BOTTOM ICON*/

section>div>h2 {
    color: black;
    font-family: var(--secondaryFont);
    font-size: 200%;
    text-align: center;
}

section>div>h2 span {
    color: var(--primaryColor);
}

section>div .underline {
    position: relative;
    width: 100px;
    margin: 0 auto;
    font-weight: 700;
    color: var(--primaryColor);
    text-align: center;
    padding-bottom: 20px;
}

section>div .underline hr {
    position: absolute;
    width: 100%;
    top: -1px;
    border-color: var(--primaryColor);
   
}

/* ------------------------------------------------------------------------------ */

/* BUTTON WITH NO BORDERS */

.link {
    text-decoration: none;
    font-family: var(--mainFont);
    font-weight: 700;
    color: var(--primaryColor);
}

/* ------------------------------------------------------------------------------ */

/* WHITE TEXT COLOR MODIFIER */

.white {
    color: white;
}

/* ------------------------------------------------------------------------------ */