@import url(../variables.css);

.hero  {
    background-image: url("../../images/fondo.jpg");
    background-color: #999;
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    
}

.hero>div {
    width: 100%;
    padding: 100px var(--marginGrid);
    line-height: 2;
}

.hero>div>h2 {
    color: white;
    font-family: var(--secondaryFont);
    font-size: calc(var(--fontSize)*2);
}

.hero>div>h3 {
    color: var(--primaryColor);
        text-shadow: 2px 1px 3px black;
    font-family: var(--primaryFont);
}

.hero>div>h4 {
    color: white;

    font-family: var(--primaryFont);
}

.hero>div>div>ul {
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hero>div>div>ul>li>a {
    color: white;
    font-size: calc(var(--fontSize)*1.7);
}

.hero>div>div {
    margin-top: 25px;
    width: fit-content;
}


/*768px*/
@media (min-width: 48em) {  

    .hero>div {
        padding: 100px 0;
        padding-left: var(--marginGrid);
        background:  none;
    }
}