@import url(../variables.css);

#ourservices .grid {
    display: grid;
    gap: var(--marginGrid);
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);

}

section {
    padding: 2.5em 0 4em 0;
}


#ourservices .grid article{
    padding-bottom: 20px;
    margin: 0 20px;
    border-bottom: 1px solid rgb(192, 192, 192);
}

#ourservices .grid article :is(h3, p) {
    padding-top: 10px;
    line-height: 1.2em;
}

#ourservices .grid article div{
    width: fit-content;
    padding: .5em;
    color: var(--primaryColor);
    font-size: calc(var(--fontSize)*1.5);
    border: 1px solid var(--primaryColor);
}

section h3{
    font-family: var(--mainFont);
    font-weight: 700;
}

section h4{
    color: var(--primaryColor);
    margin: .5em 0;
}

section .flex {
    padding: 0 var(--marginGrid);
}

#aboutUs figure {
    width: 85%;
    margin: 2em auto;
}

#aboutUs figure .marco {
    border: 3px solid var(--primaryColor);
    transform: rotateZ(10deg);
    transition: transform .5s linear;
}

#aboutUs figure .marco img{
    transition: transform .5s linear;
    transform: rotateZ(-10deg);
}

#aboutUs figure:hover :is(.marco, .marco img) {
    transform: rotateZ(0deg);
}

@media (min-width: 48em) {
    #ourservices .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    #ourservices .grid article:last-child{
        grid-column: 1/3;
    }
}

/*1004px*/
@media (min-width: 62.750em) {
    #ourservices .grid {
        grid-template-columns: repeat(3, 1fr);
    }

    #ourservices .grid article{
        padding: 0 20px;
        width: fit-content;
        margin: 10px 20px;
        border-left: 1px solid rgb(192, 192, 192);
        border-bottom: none;
    }

    #ourservices .grid article:last-child{
        grid-column: 3/4;
    }

}